@{
    ViewBag.Title = "Forum";
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
}

<center>
            <table border="1" width="40%" height="25%">
                <tr>
                    <th style="font-size: 20px;">@Html.ActionLink("Роли", "Index", "Role")</th>

                </tr>
            </table>
        </center>
        <center>
            <table border="1" width="40%" height="25%">
                <tr>
                    <th style="font-size: 20px;">@Html.ActionLink("Пользователи", "Index", "User")</th>

                </tr>
            </table>
        </center>

<h1 style="text-align: center; font-family: mriam; font-size: 90px; font-style: italic;"> Добро Пожаловать!</h1>
<h1 style="text-align: center; font-family: mriam; font-size: 70px; font-style: italic;">Мы рады видеть Вас на нашем форуме!</h1>
<h3 style="text-align: center; font-family: mriam; font-size: 30px; font-style: italic;">Сейчас @DateTime.Now </h3>