<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LessonProject.Model.Properties.Settings.LessonProjectConnectionString"
            connectionString="Data Source=SATURN-PC;Initial Catalog=LessonProject;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
        <add name="LessonProject.Model.Properties.Settings.tempdbConnectionString"
            connectionString="Data Source=(localdb)\v11.0;Initial Catalog=tempdb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>