
html {
    background: #fff;
    color: #000;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}


.Footer{
    width: 100%;
	display: block;
    margin: 0;
    text-align: center;
    font: 11px 'Tahoma';
    color: #474b4d;
}

.genumEnter {
	display: block;
    margin: 20px auto 0;
    white-space: nowrap;
    text-indent: 9999em;
    overflow: hidden;
    width: 60px;
    height: 26px;
    background: url("img/genum.png") no-repeat;
}

.genumEnter:hover {
    background-position: 100% 0;
}

.Footer .Copy{
	margin: 10px 0 0 10px;
	display: block;
}

.Main.OnlineMagazine{
    -ms-border-radius: 7px;
    border-radius: 7px;
    border: 10px solid #ededed;
    overflow: hidden;
}

.Main {
    padding: 0 0 0px 0;
    margin: auto;
    max-width: 1064px;
	min-width: 1000px;
}

.Main .Header {
    position: relative;
    height: 100px;
}

.Main .Header .logo {
    background: url("img/logo.png") no-repeat;
    width: 300px;
    height: 55px;
    display: block;
    position: absolute;
}

.Main .Header .topPhone {
    background: url("img/phoneIcon.png") no-repeat 0 1px;
    padding: 0px 0px 0px 30px;
    font: 20px/22px 'FontMedium';
    top: 50px;
	left: 600px;
	position: absolute;
}

.Main .Header .topBucket {
    background: url("img/bucketIcon.png") no-repeat;
    padding: 0px 0px 0px 30px;
    font: 20px/22px 'FontMedium';
    top: 75px;
	left: 600px;
	position: absolute;
}

.Main .Header .topRoad{
	float: right;
	background: url("img/topRoad.png") no-repeat;
    width: 350px;
    height: 100%;
	display: block;
}

.Main .Menu{
	position: relative;
	background: url("img/menuFon.jpg") no-repeat;
	width: 100%;
	height: 58px; 
	margin: 0 0 20 0;
	border-radius: 7px;

}

.Main .Menu ul {
	margin: 0;
	vertical-align: middle
}

.Main .Menu li {
	
	display: inline;
	padding: 10px 40 0 40;
	margin: 0 0 0 0;
}


.Main .BigLogo{
	background: url("img/покрышка.jpg");
	width: 100%;
	height: 290px; 
	overflow: hidden;
	border-radius: 7px;
}

.Main .OnlineMagazine {
    display: block;
    background: url("img/enterButton.jpg") no-repeat;
	margin: 40px auto;
    width: 381px;
    height: 45px;
    text-decoration: none;
    color: #404040;
    font: 18px 'FontMedium';
}

.Main .OnlineMagazine a {
    float: right;
    padding: 12px 55px 0 0;
}

.Main .OnlineMagazine a:hover {
    color: #00008b;
}






#bannersContainerSlider {
    position: relative;
    width: 1064px;
    height: 240px;
}

#pagerSlide {
    bottom: 10px;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 100000;
    margin: 0 auto;
    width: 150px;
    text-align: center;
}

#pagerSlide a {
    border: 2px solid #c4d8dc;
    border-radius: 10px;
    background: #fff;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px 0 0;
}

#pagerSlide a:hover {
    background: #a1a8a2;
}

#pagerSlide a span {
    display: none;
}/*не писать циферки*/

#pagerSlide a.selected {
    background-color: #a1a8a2;
    border: 2px solid #a1a8a2;
}






.Search {
    margin: 0px auto 265px;
    width: 100%;
}


.Search .searchTD {
    display: inline-block;
    width: 32%;
    height: 262px;
    margin: 0 1px 0 0;
    border-radius: 10px;
    border: 1px solid #dbdbdb;
    font: 12px/12px 'Verdana';
}



.Search .searchTD .searchTDTitle {
    text-align: center;
    font: 16px/39px 'FontBold';
    color: #303134;
    text-transform: uppercase;
    background: #e6eff1;
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid #dbdbdb;
}


.Search .searchTD .searchForm {
    padding: 25px 18px 15px 18px;
    position: relative;
    height: 182px;
}


.Search .searchAuto {
    display: inline-block;
    width: 33%;
    height: 262px;
    margin: 0 1px 0 0;
    border-radius: 10px;
    border: 1px solid #dbdbdb;
    font: 12px/12px 'Verdana';
}


.Search .searchAuto .searchAutoTitle {
    text-align: center;
    font: 16px/39px 'FontBold';
    color: #d52f1f;
    text-transform: uppercase;
    background: #fff;
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid #dbdbdb;
}

.Search .searchAuto .searchAutoForm {
    padding: 25px 18px 15px 18px;
    position: relative;
    height: 182px;
    background: #e6eff1;
}

.subs {
    margin: 0;
    text-align: center;
    bottom: 15px;
    left: 0;
    right: 0;
}