@model LessonProject.Model.PageConfiguration.MessagesPageConfig

@{
    ViewBag.Title = "Forum";
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align: center; font-family: mriam; font-size: 50px; font-style: italic;"> @Model.Topic </h2>

@foreach(var message in Model.Messages)
{

<center>
    <table border="1" width="80%" height="25%" >
        <tr width="700px" >
            <th >
                @message.Statement

            </th>
            <td width="90px" align="center" >
                @message.User.Email
            </td>
            <td width="110px" align="center">
                @message.AddedDate
            </td>
        </tr>
    </table>
</center>

        if(Model.RightToAccess >=2)
        {

        using (Html.BeginForm("DeleteMessage", "Messages", new { messageId = message.Id }))

        {<center>
            <input type="submit" value="Удалить" />
        </center>
        }
        }
   
}
    
            @if(Model.RightToAccess >= 1)
{
    using (Html.BeginForm("CreateMessage", "Messages"))
    {
        <center>
        <input type="text" name="statement" value="">
        <input type="submit"/>
            </center>
    }

}
