@model LessonProject.Model.PageConfiguration.MessagesPageConfig

@{
    ViewBag.Title = "придумай заголовки всем страницам";
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Topic</h2>

@foreach(var message in Model.Messages)
{
    <li>@message.Statement     @message.User.Email     @message.AddedDate</li>
    if(Model.RightToAccess >=2)
    {
        using(Html.BeginForm("Index", "Messages", new {messageId = message.Id}))
        {
            <input type="submit" value="delete"/>
        }
    }
}

@if(Model.RightToAccess >= 1)
{
    using (Html.BeginForm("Index", "Messages", new {messageId = 0}))
    {
        //@Html.TextBox("statement", string.Empty) непонятные эффэкты
        <input type="text" name="statement" value="">
        <input type="submit" />
    }

}
