@model LessonProject.Model.PageConfiguration.MessagesPageConfig

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
}

@foreach(var message in Model.Messages)
{
    <li>@message.Statement     @message.User.Email     @message.AddedDate</li>
}

@if(Model.RightToAccess >= 1)
{
    using (Html.BeginForm("Index", "Messages"))
    {
        @Html.TextBox("statement", string.Empty)
        <input type="submit" />
    }

}
