@using Microsoft.Ajax.Utilities
@model LessonProject.Model.PageConfiguration.TopicsPageConfig

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
}

<h2>there are will be topics</h2>

@foreach(var topic in @Model.Topics)
{
    @Html.ActionLink(@topic.Name, "Index", "Messages", new { topicId = topic.Id }, null)
    //@Html.ActionLink("delete", "Index", "Topics", new {topicId = 0}, null)
    if (Model.RightToAccess >= 2)
    {
        using (Html.BeginForm("DeleteTopic", "Topics", new { topicId = topic.Id }))
        {
            <input type="submit" value="delete" />
        }
    }
}

@if (@Model.RightToAccess >= 1)
{
    using (Html.BeginForm("CreateTopic", "Topics"))
    {
        <input type="text" name="topicName" value="">
        <input type="submit" />
    }

}