@model LessonProject.Model.PageConfiguration.TopicsPageConfig

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
}

<h2>there are will be topics</h2>

@foreach(var topic in @Model.Topics)
{
    @Html.ActionLink(@topic.Name, "Index", "Messages", new { topicId = topic.Id }, null)
}

@if (@Model.RightToAccess >= 1)
{
    using (Html.BeginForm("Index", "Topics"))
    {
        <input type="text" name="topicName" value="">
        <input type="submit" />
    }

}