@model LessonProject.Models.ViewModels.LoginView
@{
    ViewBag.Title = "Forum";
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align: center; font-family: mriam; font-size: 50px; font-style: italic;">Вход</h2>

@using (Html.BeginForm("Index", "Login", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <fieldset style="text-align: center; font-family: mriam; font-size: 20px; font-style: italic;">
        <div class="control-group">
            <label class="control-label" for="Email" >
                E-mail:
            </label>
            <div class="controls">
                @Html.TextBox("Email", Model.Email, new { @class = "input-xlarge" })
                @Html.ValidationMessage("Email")
            </div>

        </div>
        <div class="control-group">
            <label class="control-label" for="Password">
                Пароль:
            </label>
            <div class="controls">
                @Html.Password("Password", Model.Password, new { @class = "input-xlarge" })
                @Html.ValidationMessage("Password")
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">
                Войти
            </button>
        </div>
    </fieldset>
}